<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v2.0.50727" sku="Client"/>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>
  <appSettings>
    <!-- NOTICE: Can not specified grater than 9 minutes at this version. -->
    <add key="timer1" value="1"/>
    <add key="timer2" value="3"/>
    <add key="timer3" value="5"/>
  </appSettings>
</configuration>
