<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v2.0.50727" sku="Client"/>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>
  <appSettings>
    <!-- NOTICE: Can not specified grater than 9 minutes at this version. -->
    <add key="timer1" value="1"/>
    <add key="timer2" value="3"/>
    <add key="timer3" value="5"/>
    <add key="timer4" value="10"/>
    <add key="timer5" value="15"/>
    <add key="timer6" value="30"/>
    <add key="timer7" value="45"/>
    <add key="timer8" value="60"/>
    <add key="timer9" value="90"/>
  </appSettings>
</configuration>
